# Python
venv*
__pycache__/*
*.pyc

# IDE and Editor files
.idea*
.cursor/
.vscode/

# Project-specific
tst*
state*
junk/*
huggingface_*
junk/logs
papers*
hf*
junk/data/*
research_dir/*
state_saves/*
Figure*.png
testrun.py

# Sensitive files
.env
.env.*
logs/
*.log

# OS-specific
.DS_Store